SM_TARSBookingUpsert_Async/Schemas/Exception.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://soa.coe.com/CommonTypes/Mediation/Framework/Exception"
	 targetNamespace="http://soa.coe.com/CommonTypes/Mediation/Framework/Exception"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Exception" type="ErrorType"/>

	<xs:complexType name="ErrorType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Message" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="StackTrace" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>