SM_TARSBookingUpsert_Async/Schemas/LoggerSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	 xmlns="http://soa.coe.com/CommonTypes/Mediation/Framework/Logger"
	 targetNamespace="http://soa.coe.com/CommonTypes/Mediation/Framework/Logger"
	 elementFormDefault="qualified"
	 attributeFormDefault="unqualified">
	<xs:element name="Logger" type="LogType"/>

	<xs:complexType name="LogType">
		<xs:sequence>
			<xs:element name="Code" type="xs:string"/>
			<xs:element name="Message" type="xs:string"/>
			<xs:element name="Description" type="xs:string" minOccurs="0"/>
			<xs:element name="StackTrace" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>